---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import FormattedDate from "../../components/FormattedDate.astro"

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)

const meta = {
  title: "Josef's Posts",
  description:
    "Collection of thoughts, short little quips, and other takes on things.",
}
---

<Layout title={meta.title} description={meta.description}>
  <section class="">
    <ul class="grid gap-4 list-none">
      {
        posts.map((post) => (
          <li>
            <a class="hover:underline" href={`/posts/${post.slug}/`}>
              <p>
                <FormattedDate date={post.data.pubDate} />
              </p>
              <h4 class="text-xl font-semibold">{post.data.title}</h4>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
